00 01 * * * /usr/bin/rclone sync -c -v -L --checkers=15 --transfers=15 website_ftp:html gdrive:_backups/website_ftp > /proc/1/fd/1 2>/proc/1/fd/2
# An empty line is required at the end of this file for a valid cron file.